<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Radio Button</title>
  </head>
  <body>
    <section class="container block">
      <div class="select-type">
        <div class="select-control">
          <input type="radio" name="webinar" id="type-a" />
          <label for="type-a">عمومی</label>
        </div>
        <div class="select-control">
          <input type="radio" name="webinar" id="type-b" />
          <label for="type-b">اختصاصی</label>
        </div>
      </div>
    </section>
  </body>
</html>
