<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Travel</title>
  </head>
  <body>
    <section class="container block travel">
      <div class="travel__slides">
        <div class="travel__slide">
          <div class="travel__image">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="travel__details">
            <div class="travel__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="travel__body">سفر به قلب کویر</p>

            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" />
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="travel__suggest">پیشنهاد</span>
            </div>
            <div class="travel__footer">
              <div>
                <i class="fa fa-heart"></i>
                <span>12</span>
                <i class="fa fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="travel__slide">
          <div class="travel__image">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="travel__details">
            <div class="travel__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="travel__body">سفر به قلب کویر</p>

            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" />
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="travel__suggest">پیشنهاد</span>
            </div>
            <div class="travel__footer">
              <div>
                <i class="fa fa-heart"></i>
                <span>12</span>
                <i class="fa fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="travel__slide">
          <div class="travel__image">
            <img src="/assets/images/travell.png" alt="" />
          </div>
          <div class="travel__details">
            <div class="travel__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="travel__body">سفر به قلب کویر</p>

            <div class="avatar-group">
              <div class="avatar">
                <img src="/assets/images/avatar-1.jpg" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-2.jpg" />
              </div>
              <div class="avatar">
                <img src="/assets/images/avatar-3.jpg" />
              </div>
              <div class="hidden-avatars">10+</div>
              <span class="travel__suggest">پیشنهاد</span>
            </div>
            <div class="travel__footer">
              <div>
                <i class="fa fa-heart"></i>
                <span>12</span>
                <i class="fa fa-eye"></i>
                <span>24</span>
              </div>
              <div>
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
